@tailwind base;
@tailwind components;
@tailwind utilities;

/* ============= Fonts ============= */
@font-face {
  font-family: Cyber;
  src: url("/fonts/cyber.ttf");
}  

/* ============= Styling ============= */
body {
@apply bg-darker text-white font-cyber
}

p, h1 {
@apply break-words;
}

a {
@apply text-cyan-600 hover:text-cyan-500 font-cyber;
}

::-moz-selection { /* Code for Firefox */
@apply bg-cyan-700 text-white
}

::selection {
@apply bg-cyan-700 text-white
}

@keyframes float {
0%, 100% {
  transform: translateY(-5px);
}
50% {
  transform: translateY(-15px);
}
}

.float-animation {
animation: float 3s ease-in-out infinite;
}

@keyframes float-rev {
0%, 100% {
  transform: translateY(0px) rotate(-6deg);
}
50% {
  transform: translateY(-7px) rotate(-6deg);
}
}

.float-animation-rev {
animation: float-rev 4.5s ease-in-out infinite;
}

/* Hand Wave Animation */
/* Orginial Concept by https://codepen.io/jakejarvis/pen/pBZWZw */

.wave {
animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
animation-duration: 2.5s;        /* Change to speed up or slow down */
animation-iteration-count: infinite;  /* Never stop waving :) */
transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
@apply bg-darker;
}

/* Handle */
::-webkit-scrollbar-thumb {
@apply bg-cyan-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
@apply bg-cyan-700;
}



.nav-link {
@apply flex 
items-center 
md:justify-center 
font-cyber 
text-xl 
px-4 
py-2 
mt-2 
transition-colors 
hover:bg-cyan-700 
focus:bg-cyan-700 
focus:text-white 
hover:text-white 
text-zinc-400 
md:mt-0 
focus:outline-none
font-semibold;
}

.nav-link.active {
@apply text-cyan-400 font-semibold hover:text-white;
}

.dropdown-link {
@apply block 
px-4
py-2 
mt-2 
font-cyber 
bg-transparent  
hover:bg-cyan-600 
focus:bg-cyan-600
focus:text-white 
hover:text-white
text-zinc-400  
md:mt-0
font-semibold
focus:outline-none text-left;
}

.dropdown-link.active {
@apply text-cyan-400 font-semibold hover:text-white;
}

/* Animate Gradiant */
@keyframes gradientAnimation {
0% {
    background-position: 100% 50%;
}
50% {
    background-position: 0% 50%;
}
100% {
    background-position: 100% 50%;
}
}

.animated-gradient {
background-size: 200% 200%;
animation: gradientAnimation 7s infinite;
}

/* Typing */
@keyframes typing {
from {
  width: 0;
}
}

@keyframes blink-caret {
50% {
  border-color: transparent;
}
}

.animate-typing-container {
display: inline-block;
position: relative;
}

.animate-typing-text {
white-space: nowrap;
overflow: hidden;
border-right: 3px solid;
animation: typing 3s steps(40, end);
}

.animate-typing-caret {
position: absolute;
top: 0;
right: 0;
width: 3px;
height: 100%;
background-color: #000; /* Adjust the caret color as needed */
animation: blink-caret 0.75s step-end infinite;
}